%%-*- mode: erlang -*-
{deps, [
        {sync, ".*", {git, "git://github.com/rustyio/sync.git", "HEAD"}},
        {protobuffs, ".*", {git, "https://github.com/basho/erlang_protobuffs", "HEAD"}},
        {epgsql, ".*", {git, "https://github.com/wg/epgsql", "HEAD"}},
        {ranch, ".*", {git, "https://github.com/extend/ranch.git", "HEAD"}}
       ]}.
{lib_dirs, ["apps", "deps"]}.
{sub_dirs, ["rel", "apps/rolltogo", "test"]}.
{erl_opts, [debug_info, fail_on_warning]}.
